.header{
    background-color: #535353;
    color: #ffffff;
}

a {
    color: #05a8c8;
}

.linkRoom{
    padding-left: 300px;
    display: inline-block;
    vertical-align: bottom;
}

.user{
    margin-left: 800px;
    display: inline-block;
    vertical-align: top;
}