/* roomsComponent's private CSS styles */


.rooms {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 934px;
    height: 509;
    color: black;
  }

  span{
    color: black;
  }

  .rooms tr {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #acb5b8;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .rooms tr:hover {
    background-color: #e6e6e6;
    left: .1em;
  }
  .rooms tr.selected {
    background-color:#84c4d0;
  }

  .rooms tr.selected:active {
    background-color: black;
  }
  
  input {
    padding: .5rem;
  }

  .container{
    width: 1182px;
    height: 700px;
    left: 300px;
    top:220px;
    position: absolute;
    padding: 30px;
}

h1 {
  color: #05a8c8;
}

button{
  height: 40px;
  font-size: 25px;
  color:white;
}

button:hover {
  color:#05a8c8;
}

input[type="text"]{
  color: black;
}