<app-header></app-header>
<div class="container">
  <h1>Список комнат</h1>
<table class="rooms">
    <thead>
    <tr>
        <th>Название комнаты</th>
        <th>Создатель</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let room of rooms" 
    [class.selected]="room === selectedRoom"
    (click)="onSelect(room)"
    (dblclick)="enterRoom(room)">
      <td><span> {{room.name}} </span></td> 
      <td><span> {{room.user}}</span> </td> 
    </tr>
</tbody>
</table>

<button (click)="deleteRoom()">Удалить комнату</button>
<br/>
<label>
    Название комнаты<br/>
    <input type="text" [formControl]="nameRoom">
  </label>
  <p>
    <button (click)="createRoom()">Создать комнату</button>
  </p>  
</div>